.wrapper {
    width: 40%;
    margin: 0 auto;
}
.buttonsWrapper {
    width: 200px;
    margin: 10px auto;
}
.add, .cancel{
    margin-right: 10px;
    padding: 10px;
    border: 1px solid blue;
    cursor: pointer;
}
.err {
    text-align: center;
    font-size: 20px;
    color: red;
}
.uploadBtn {
    padding: 8px;
    border: 1px solid blue;
    cursor: pointer;
}